* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color:#323232;
  height: 100vh;
  font-family: "Lato",sans-serif;
}

header {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

h1 {
  color: red;
}

.search-button{
  width: 400px;
  height: 30px;
}

.container{
  width: 400px;
  position: relative;
}

.container #remove{
  position: absolute;
  margin-left: 28px;
  margin-top: 27px;
  color: #FFF;
  transition: 0.3s ease-out;
}

#search{
  width: 42px;
  height: 30px;
  background-color: black;
  border:none;
  font-size: 0.9em;
  float: right;
  padding-left: 10px;
  transition: 0.6s ease-out;
  color: white;
}

#search:focus,
#search:active{
  outline:none;
  width: 400px;
  padding-right: 20px;
  border: 1px solid white;
}

.container:hover #search{
  width: 400px;
  background-color: rgba(000, 000, 000, 0.8);
  border: 1px solid white;
}

.container:hover #remove{
  background-color: rgba(000, 000, 000, 0.8);
}

#container-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
}

.card {
  width: 222px;
  height: 332px;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid white;
}

.movie-data{
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  overflow: scroll;
  padding: 30px 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.card:hover .movie-data {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
  background-color: rgba(000, 000, 000, 0.8);
}

li {
  list-style-type: none;
  color: white;
  margin-bottom: 5px;
}

.movie-data i {
  color:#FFBD00;
}

.flags{
  height: 12px;
  width: 20px;
}

.defaultPoster {
  width: 220px;
  height: 330px;
}
