* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color:#323232;
  height: 100vh;
}

header {
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  color: red;
}

#search input{
  height: 35px;
  padding: 10px;
}
/* button {
  width: 50px;
  height: 30px;
  background-color: red;
  border-radius: 3px;
  margin-right: 20px;
} */

/* #search li {
  display: inline-block;
} */

#container-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
}

.card {
  width: 220px;
  height: 330px;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
}

.movie-data{
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: black;
  position: absolute;
  visibility: hidden;
  overflow: scroll;
  padding: 30px 10px;
}

.card:hover .movie-data {
  visibility: visible;
}

li {

  list-style-type: none;
  color: white;
}
