<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Boolflix</title>
  </head>
  <body>
    <div id="root">
      <header>
        <h1>BOOLFLIX</h1>
        <ul id="search">
          <li><input type="text" @keyup.enter="FilterMovie"
          v-model="search" value=""placeholder="&#128269; Search movie"></li>
          <!-- <li> <button v-on:click="FilterMovie"type="button" name="button"></button> </li> -->
      </header>
      <main id="container-card">
        <div v-for="movie in movies"class="card">
          <img :src="'https://image.tmdb.org/t/p/w220_and_h330_face' + movie.poster_path" alt="">
          <div class="movie-data">
            <ul>
              <li><strong>Titolo: </strong>{{ movie.title}}</li>
              <li><strong>Titolo orginale: </strong>{{  movie.original_title}}</li>
              <li><strong>Lingua: </strong> {{movie.original_language}}</li>
              <li><strong>Voto: </strong> </li>
              <li><strong>Overview: </strong>{{ movie.overview }}</li>
            </ul>
          </div>
        </div>
      </main>
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
