<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Boolflix</title>
  </head>
  <body>
    <div id="root">
      <header>
        <h1>BOOLFLIX</h1>
        <div class="search-button">
          <div class="container">
            <span id="remove"></span>
            <input type="search" @keyup.enter="FilterMovie"
            v-model="search" id="search" placeholder="&#128269; Search a movie">
          </div>
        </div>
      </header>
      <main id="container-card">
        <div v-for="movie in movies"class="card">
          <img v-if="movie.poster_path != null":src="imgPrefix + movie.poster_path" alt="">
          <img class="defaultPoster"v-else :src="defaultPoster" alt="">
          <div class="movie-data">
            <ul>
              <li><strong>Titolo: </strong>{{ movie.title}}
              </li>
              <li><strong>Titolo orginale: </strong>{{  movie.original_title }}
              </li>
              <li v-if="flags.includes(movie.original_language)"><strong>Lingua: </strong>
                <img class="flags":src= "getFlag(movie.original_language)" alt="">
              </li>
              <li v-else><strong>Lingua: </strong>{{ movie.original_language }}
              </li>
              <li><strong>Voto: </strong>
                <i v-for="star in getAverage (movie.vote_average)"class="fas fa-star"></i>
                <i v-for="star in (5 - getAverage(movie.vote_average))" class="far fa-star"></i>
              </li>
              <li><strong>Overview: </strong>{{ movie.overview }}
              </li>
            </ul>
          </div>
        </div>
      </main>
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
